@media (min-width: 1200px) {

    body {
    background: var(--primary-color) url('../images/bg-desktop.svg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }

    .container {
        max-width: 1280px;
        display: grid;
        grid:
        'header header header'
        'mockup info info'
        'socials socials socials'
    }

    .container .header img {
        width: 200px;
    }

    .container .info-register h1 {
        font-size: 2.7rem;
    }
    
    .container .info-register p {
        font-size: 1.8rem;
    }
    
    .container .info-register button {
        width: 200px;
        height: 45px;
        border: none;
        border-radius: 2.8rem;
        background-color: #fff;
        color: var(--primary-color);
        font-size: 1.6rem;
        margin-bottom: 50px;
    }
    
    .container .info-register button:hover {
        background-color: var(--hover-color);
        color: #fff;
        cursor: pointer;
        box-shadow: 3px 3px 15px #2D1D59;
    }
    
    .container .socials {
        display: flex;
        font-size: 2.8rem;
        justify-content: center;
        gap: 10px;
    }
}